body {
  background-color:blanchedalmond;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: darkcyan;
  height: 60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 li a:hover {
   background-color: black;
   color: green;
 }

 /* article {
   display: flex;
   flex-flow: row wrap;
 } */

 section {
   padding: 25px;
   margin: 10px;
   font-family: 'Times New Roman', Times, serif;
 }

 .card-container {
   display: flex;
   flex-flow: row wrap;
   padding: 40px;

 }

 .card {
   
 }

 .card img {
   height: 400px;
   width: 300px;
 }
